@import "variables";
@import "landing_div";
@import "info";
@import "about";
@import "projects";
@import "about_profile";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body{
    font-family: 'Roboto', sans-serif;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  